html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gradient-background {
  background: linear-gradient(156deg,darkviolet,#3e0d48,#130536,#130536);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}