html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gradient-background {
    background: linear-gradient(300deg,#1b0538,#030930,#1b0c36,#030014);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }